* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.dark-theme {
  @apply dark:text-white transition-bg-color duration-500;
}

.aside-height-limit {
  height: calc(100vh - 48px);
  overflow: auto;
}

.chat-height-limit {
  height: calc(100vh - 152px);
  overflow: auto;
}

.modal {
  &-enter {
    opacity: 0;
  };
  &-enter-active {
    opacity: 1;
    transition: 300ms;
  };
  &-exit {
    opacity: 1;
  };
  &-exit-active {
    opacity: 0;
    transition: 300ms;
  }
}

